/* Detail.css */

.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailWrapper {
  max-width: 1280px;
  padding-top: 24px;
  margin: 0 auto;
  border-radius: 10px;
}

h1 {
  font-size: 28px;
  color: #333;
}

.location {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.highlight {
  color: #0073e6;
  font-weight: normal;
  padding-top: 10px;
}

.promotion {
  font-size: 16px;
  color: #008000;
  margin-bottom: 10px;
}

.imageGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.hotelImage {
  width: 32.8%;
  height: 300px;
  object-fit: cover;
}

.hotelInfo {
  max-width: 70%;
  margin-top: 30px;
}
.hotelInfo h2 {
  padding-bottom: 30px;
}
.hotelInfo p {
  line-height: 1.6;
}
.bookingBox {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
  color: #038925;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bookNowBtn {
  background: #0073e6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.bookNowBtn:hover {
  background: #005bb5;
}

.bookingBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  width: auto;
  height: auto;
  background-color: #d8e8fa;
  padding: 30px 20px 20px 30px;
  gap: 20px;
}
.bookingBox .bookNowBtn {
  width: 100%;
}
