.hotel-city {
  margin-top: 50px;
}
.home-container {
  max-width: 1280px;
  margin: 0 auto;
}
.hotel-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  border-radius: 5px;
}
.hotel-img {
  border-radius: 20px;
  height: 300px;
  width: 225px;
}
.hotel-item-text {
  font-size: 16px;
  font-weight: normal;
  transition: opacity 0.3s;
}
.text-2 {
  font-style: normal;
}
.hotel-list-item .hotel-item h3 {
  padding-top: 5px;
  padding-bottom: 5px;
}
