.home-poverty {
  margin-top: 50px;
}
.poverty-container {
  max-width: 1280px;
  margin: 0 auto;
}
.poverty-container h3 {
  padding-bottom: 36px;
}
.poverty-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.poverty-container .poverty-img {
  border-radius: 20px;
  height: 300px;
  width: 300px;
}
.poverty-container .poverty-item-text p:nth-child(3) {
  font-weight: bold;
}

.poverty-container .poverty-item-text .item-name {
  padding-top: 10px;
  color: purple;
  text-decoration: underline;
}
.poverty-item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
