/* searchList.css */

.searchList {
  flex: 2;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchList h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.searchList .searchItem {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #252121;
}
